<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title><%= test %></title> -->
    <%- include('includes/css.ejs') %>
    <!-- <link rel="stylesheet" type="text/css" href="/index.css" /> -->
  </head>
  <body>
    <form action="/message" method="POST">
      <input name="message" type="text" />
      <% if(prods.length>0) { %> <% for(let prod of prods) { %>
      <input name="id" type="hidden" value="<%= prod.title %>" />
      <% } %> <% } %>
    </form>
  </body>
</html>
